@media (max-width: 800px) {
    .render-cards-organizer{
        display: flex;
        flex-direction: column;
    }
    .render-cards-organizer{
        width: 210px;
    }
    .render-cards{
        max-width: 220px;
        max-height: 300px;
    }
}

.value-render{
    display: flex;
    gap: 10px;
}
@media (min-width:800px) {
    .render-cards-organizer{
        width: 550px;
    }
}
.render-cards-organizer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.value-render button {
    width: fit-content;
    padding: 8px 10px;
    color: black;
    font-weight: 600px;
    background-color: #f8f9fa;
    transition: ease .1s;
}

.value-render button:hover {
    color: #fff;
    background-color: #FD377E;
}

.render-cards{
    overflow-y: auto;
}

@media(min-width: 800px) {
    .render-cards{
        max-height: 400px;
    }
}