@media(max-width: 800px){
    .value-card{
        width: 175px;
    } 
}

.value-type-tag{
    color: black;
}
.value-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 6px;
    padding: 0 15px;
    background-color: #F8F9FA;
}
.card-title{
    margin-bottom: 8px;
}
.card-options{
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
    margin-top: 20px;
    justify-content: center;
    gap: 15px;
}
.card-options h4{
    margin: 0;
}