header{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.063)
}

.header-wrapper{
    width: 900px;
}

.header-title{
    color: black;
}

.return-start-btn {
    width: fit-content;
    padding: 4px 14px;
    background-color: #E9ECEF;
    color: black;
    font-weight: 600;
    font-size: 14px;
}