.home-main-organizer {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 30px;
    gap: 30px;
}

@media(max-width: 800px) {
    .aside-organizer{
       max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-main{
        display: flex;
        flex-direction: column;
    }
    .home-main-organizer{
        display: flex;
        justify-content: center;
        
        max-width: 95vw;
        flex-wrap: wrap;
    }
}

@media(max-width: 1100){
    .aside-organizer{
        margin-left: 30px;
    }
    
}